
*.dll

*.pdb

Entities/obj/Debug/

Entities/obj/Release/

/packages/
PizzariaDosGuri.API/bin/

*.cache

PizzariaDosGuri.API/obj/Debug/

PizzariaDosGuri.DAL/bin/Debug/

PizzariaDosGuri.DAL/obj/Debug/
